## Install Libraries and fetch data from excel

In [16]:
!pip install openpyxl
!pip install sqlalchemy

In [1]:
import pandas as pd
import openpyxl
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
file_path = 'Telco_customer_churn.xlsx'

In [3]:
raw_df = pd.read_excel(file_path)

In [1]:
db_name = 'YOUR DB NAME'
db_user = 'YOUR DB USER'
db_password = 'YOUR DB PW'
db_host = 'YOUR DB HOST'

In [103]:
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}/{db_name}')

## Load 5 % of raw data into RDS (Incrementallly)

In [5]:
first_index = 0 
offset =  0.05
df_sample_index = raw_df.index[int(len(raw_df) * first_index):int(len(raw_df) * offset)]
df_sample = raw_df.loc[df_sample_index].copy()
df_sample['record_modified'] = datetime.now()

In [6]:
df_sample.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,record_modified
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer,2024-07-17 22:16:02.367461
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved,2024-07-17 22:16:02.367461
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved,2024-07-17 22:16:02.367461
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved,2024-07-17 22:16:02.367461
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices,2024-07-17 22:16:02.367461

In [106]:
df_sample.to_sql('telco_customr_churn_data', con=engine, if_exists='append', index=False,schema = 'telco_schema')

352